body{
    background-color: rgb(114, 145, 70);
}
.boxim{
    height:150px;
    width:250px;
    margin-left:50px;
}
table,td,th{
    border: 5px solid black;
}
.q8bg{
    background-color: chartreuse;
}
.q8bgimg{
    height:100px;
    width:400px;
    background-image: url("img.jpeg");
}
.bgimg{
    height:100px;
    width:200px;
    display:grid;
}
